html,
body {
    font-size: 14px;
}

.wrap {
    width: 100%;
    height: 100%;
}
a{
    color: #333;
}

.main-wrap {
    max-width: $desktop-with;
    margin: 0 auto;
}
.ttr{
	text-align: right;
}
.ttl{
	text-align: left;
}
.ttc{
	text-align: center;
}
