#react-app {
    height: 100%;
}

.login {
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 0px 3px 1px #dedede;
    form {
        width: 444px;
        margin: 0 auto;
        border-radius: 3px;
    }
}
