.add-project {
    margin-top: 10px!important;
    border: 1px solid $main-border-color;
    .header {
        padding: 10px;
        border-bottom: 1px solid $main-border-color
    }
    form {
        padding: 20px;
        width: 65%;
        margin: 0 auto;
    }
    .ant-alert-with-description {
        margin-bottom: 0px!important;
    }
    .methods {
        background: rgba(249, 249, 249, 0.48);
        border: 1px solid #F7F7F7;
        padding: 50px 20px 5px;
        border-radius: 2px;
        margin-bottom: 30px;
    }
}
