.pro-navbar-wrap {
    height: 200px;
    padding-top: 45px;
    border-bottom: 1px solid $main-border-color;
    .main-wrap {
        position: relative;
    }
    .detail-icon {
        display: inline-block;
        margin-left: 20px;
        width: 100px;
        height: 100px;
    }
    .detail-info {
        color: #333;
        display: inline-block;
        vertical-align: top;
        padding-left: 20px;
        .name {
            font-size: 18px;
        }
        .detail-text {
            padding: 10px;
            border: 1px solid #f5f5f5;
            margin-top: 10px;
            border-radius: 3px;
            background: #FBFBFB;
            color: #A2A2A2;
        }
    }
    .edit-btn {
        position: absolute;
        top: 0px;
        right: 70px;
    }
    .pro-navbar {
        padding-left: 120px;
        margin-top: 7px;
        li {
            display: inline-block;
        }
        a {
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
            border-bottom: 1px solid transparent;
            transition: all .3s;
            &:hover {
                color: $main-active-color;
            }
            &.active {
                border-color: $main-active-color;
                color: $main-active-color;
            }
        }
    }
    .ant-badge-count {
        margin-left: 10px;
        background-color: #00C4FF;
        height: 18px;
    }
}

.pro-modules {
    padding-top: 10px;
}

.api-module {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    .api-list-wrap {
        margin-top: 10px;
        border: 1px solid #FBFBFB;
        border-bottom: 0;
        .header {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid $main-border-color;
            .api-count {
                display: inline-block;
                width: 70%;
                padding-left: 20px;
            }
            .api-add {
                display: inline-block;
                text-align: right;
                padding-right: 30px;
                width: 29%;
                cursor: pointer;
                &:hover {
                    color: $main-active-color;
                }
            }
        }
        .list {
            .item {
                position: relative;
                padding: 10px 20px;
                border-bottom: 1px solid $main-border-color;
                transition: all .3s;
                cursor: pointer;
                &:hover {
                    background-color: $main-border-color;
                }
            }
            button {
                position: absolute;
                right: 10px;
                top: 10px;
            }
            .name {
                display: inline-block;
                font-size: 16px;
                padding-bottom: 10px;
                color: #333;
                width: 80%;
            }
            .time {
                display: inline-block;
                width: 19%;
                text-align: right;
                color: #A2A1A1;
            }
            .owner {
                display: inline-block;
            }
        }
        .member-list {
            border-bottom: 1px solid $main-border-color;
            padding: 30px;
            .item {
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid $main-border-color;
                border-radius: 25px;
                margin: 10px;
            }
        }
    }
    .api-detail {
        overflow: hidden;
        .header {
            position: relative;
            background-color: #FBFBFB;
            padding: 40px;
            button {
                position: absolute;
                top: 40px;
                right: 45px;
            }
        }
        .body-main {
            padding: 10px 40px;
            p {
                padding: 7px 0;
            }
            .method,
            .url {
                display: inline-block;
                padding: 1px 5px;
                border-radius: 3px;
                background-color: #45C543;
                color: #fff;
                font-size: 12px;
            }
            .url {
                background-color: #F79847;
            }
            .detail {
                border-radius: 3px;
                background-color: #FBFBFB;
                padding: 20px;
            }
        }
        .comment {
            margin-top: 80px;
            ul{
                border: 1px solid #f5f5f5;
                border-bottom: 0;
            }
            li {
                padding: 10px;
                border-bottom: 1px solid #f5f5f5;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    vertical-align: middle;
                    margin-right: 15px;
                }
                .name{
                    padding-right: 20px;
                }
                .time{
                }
                .content{
                    padding: 5px;
                    padding-left: 45px;
                }
            }
        }
        .add-comment {
            border: 1px solid #EFEFEF;
            overflow: hidden;
            padding: 10px;
            margin-top: 20px;
            background-color: #f5f5f5;
        }
    }
}
