@charset "UTF-8";
@import './var';
@import './common';
@import './login';
.wrap{
	width: 100%;
	height: 100%;
}
.navbar{
    border-bottom: 1px solid #dedede;
    .nav-left{
        display: inline-block;
        width: 80%;
        vertical-align: middle;
        li{
            display: inline-block;
            a{
                padding: 12px 25px;
                display: inline-block;
            }
        }
    }
    .nav-right{
        display: inline-block;
        width: 19%;
        vertical-align: middle;
    }
}
